
.p-footer {
    background: $gray;
    padding: rem(42) 0;
    letter-spacing: rem(1.2);

    @include mq(tab) {
        padding: rem(30) 0;
    }
}

.p-footer__pagetop {
    position: fixed;
    bottom: rem(41);
    right: rem(20);
    width: rem(45);
    height: rem(45);
    box-shadow: 0px 5px 5px $gray;


    @include mq(tab) {
        bottom: rem(33);
        right: rem(31);
    }
}

.p-footer__pagetop-link {
    background: $white;
    width: inherit;
    height: inherit;
    display: inline-block;
    transition: .3s ease;
}
.p-footer__pagetop-link:hover {
    @include mq(tab) {
        background: $red;
        // background: $mid-gray;
        transition: .3s ease;
    }
}

.p-footer__pagetop-link::after {
    content: "";
    width: rem(19);
    height: rem(19);
    border-top: rem(2) solid $mid-gray;
    border-right: rem(2) solid $mid-gray;
    transform: rotate(-45deg);
    position: absolute;
    top: rem(19);
    right: rem(13);
    border-radius: 1px 1px 1px 1px / 1px 1px 1px 1px;
    @include mq(tab) {
    }
}
.p-footer__pagetop-link:hover:after {
    @include mq(tab) {
        border-top: rem(2) solid $white;
        border-right: rem(2) solid $white;
    }
}

.p-footer__content {
    @include mq(tab) {
        height: rem(39);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.p-footer__inner {
    text-align: center;

    @include mq(tab) {
        display: block;
        align-items: center;
        justify-content: space-between;
        margin: 0 rem(32);
    }
}

.p-footer__content {

}

.p-footer__logo {
    @include mq(tab) {
        height: rem(40);
    }
}

.p-footer__link {
    display: inline-block;
    // img {
    //     line-height: rem(32);
    //     width: rem(70);
    // }

    img {
        height: inherit;
        width: rem(71);

        @include mq(tab) {
            width: rem(50);
        }
    }
}

.p-footer__nav {
    margin-top: rem(20);

    @include mq(tab) {
        margin-top: 0;
    }
}


.p-footer__copy {
    color: $white;
    font-size: rem(11);
    line-height: rem(16);
    letter-spacing: rem(1.2);
    margin-top: rem(27);

    @include mq(tab) {
        font-size: rem(15);
        line-height: rem(35);
        margin-top: rem(64);
        text-align: center;
    }
}