.p-main-visual {
    position: relative;
    height: 100vh;
    text-shadow: 1px 1px 2px $gray;

    @include mq(tab) {
        height: 100%;
    }
}

.p-main-visual__text {
    letter-spacing: rem(0.5);
    font-weight: $bold;
    color: $white;
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include mq(tab) {
        letter-spacing: rem(5);
    }
}

.p-main-visual__title {
    font-size: rem(28);
    line-height: rem(28);

    @include mq(tab) {
        font-size: rem(50);
        line-height: rem(50);
        font-weight: $bold;
    }
}

.p-main-visual__subtitle {
    font-size: rem(20);
    line-height: rem(20);
    margin-top: rem(24);

    @include mq(tab) {
        font-size: rem(25);
        line-height: rem(25);
        font-weight: $bold;
    }
}