
.p-overview {
    position: relative;

    @include mq(tab) {
    }

}

.p-overview::before {
    content: "";
    width: 100%;
    height: rem(1399);
    position: absolute;
    top: rem(-640);
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to left top, transparent 50%, $red 50.1%, $red calc(50.15% + 1px), transparent calc(50.2% + 1px));

    @include mq (tab) {
        width: 94.6875%;
        height: rem(1212);
        top: rem(-205);
    }
}

.p-overview__inner {
    width: 100%;

    @include mq(tab) {
        max-width: $l-inner + strip-unit($padding-pc) * 2;
        padding-right: $padding-pc;
        padding-left: $padding-pc;
        margin:0 auto;
    }
}


.p-overview__items {
    margin-top: rem(56);

    @include mq(tab) {
        margin-top: rem(41);
    }
}

.p-overview__item {
    @include mq(tab) {
        background: linear-gradient(90deg, $light-gray 0%, $light-gray 75%, transparent 75%, transparent 100%);
        margin-left: calc(50% - 50vw);
        flex-direction: row-reverse; // 横並び逆順
        display: flex;
        align-items: center;
    }
}

.p-overview__img {
    position: relative;
    box-shadow: 0px 3px 30px rgba(0,0,0,0.3);

    @include mq(tab) {
        max-width: rem(557);
        width: 100%;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.p-overview__img::before {
    content: "";
    display: block;
    padding-top: 69.6%;

    @include mq(tab) {
        padding-top: 69.83842%;
    }
}

.p-overview__body {
    background: $light-gray;
    padding: rem(27) rem(20) rem(21);
    text-align: center;

    @include mq(tab) {
        padding: rem(120) rem(33) rem(119) rem(25);
        background: transparent;
        max-width: rem(567);
        width: 100%;
        text-align: left;
    }
}

.p-overview__title {
    font-size: rem(20);
    font-weight: $font-weight-base;
    line-height: rem(29);
    letter-spacing: rem(2);

    @include mq (tab) {
        font-size: rem(25);
        line-height: rem(16);
        letter-spacing: rem(0.5);
    }
}

.p-overview__text {
    font-size: rem(16);
    font-weight: $font-weight-base;
    line-height: rem(23);
    letter-spacing: rem(2);
    margin-top: rem(22);

    @include mq (tab) {
        line-height: rem(35);
        letter-spacing: rem(0.5);
        margin-top: rem(48);
    }
}

.p-overview__btn {
    max-width: rem(335);
    margin: rem(26) auto 0;

    @include mq(tab) {
        max-width: rem(360);
        margin: rem(47) auto 0 0;

        position: relative;
        overflow: hidden;
    }
}