//header
.p-pc-nav {
    display: none;
    height: inherit;

    @include mq(pc) {
        display: initial;
    }
}

.p-pc-nav__items {
    height: inherit;
    display: flex;
    align-items: center;
}

.p-pc-nav__item {
    height: inherit;
}

.p-pc-nav__item a {
    font-size: rem(16);
    line-height: rem(35);
    letter-spacing: rem(1.1);
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(17);
}

.p-pc-nav__item a::after {
    position: absolute;
    content: "";
    bottom: rem(8);
    left: rem(16);
    right: rem(16);
    height: rem(1);
    background: transparent;
    transition: ease .3s;
}

.p-pc-nav__item a:hover::after {
    background: $yellow;
}


.p-pc-nav__item--white {
    margin-left: rem(12);
}

.p-pc-nav__item--white a {
    background: $white;
    color: $mid-gray;
    padding: 0 rem(34);
    transition: .3s ease;
}
.p-pc-nav__item--white a:hover {
    background: $mid-gray;
    color: $white;
    transition: .3s ease;
}
.p-pc-nav__item--white a::after {
    display: none;
}