
.p-results {
    @include mq(tab) {
        max-width: rem(1100);
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(48);
    }
}

///////////
//sp
///////////
.p-results__item:nth-child(n + 2) {
    margin-top: rem(48);

    @include mq(tab) {
        margin-top: 0;
    }
}

//////////
//tab
//////////

.p-results__item:nth-child(even) {
    @include mq(tab) {
        margin-left: rem(48);
    }
}

.p-results__item:nth-child(n + 3) {
    @include mq(tab) {
        margin-top: rem(114);
    }
}