
.p-result {
    display: inline-block;
    position: relative;
    // color: $white;
    box-shadow: 0px 3px 30px rgba(0,0,0,0.3);
    transition: .3s ease;
    width: 100%;


    @include mq(tab) {
    }
}

.p-result:hover {
    @include mq (tab) {
        background: $mid-gray;
        color: $white;
        transition: .3s ease;
    }
}

.p-result__img {
    padding-top: 66.4%; // 249 / 375
    position: relative;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover; //トリミング
    }
}

.p-result__category {
    position: absolute;
    top: 0;
    right: 0;
    background: $black;
    z-index: 1;

    color: $white;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: rem(23);
    letter-spacing: rem(2);
    padding: rem(8) rem(20);
}

.p-result__content {
    text-align: center;
    padding: rem(20) rem(10);
    
    @include mq (tab) {
    }
}



.p-result__title {
    font-size: rem(20);
    font-weight: $medium;
    line-height: rem(35);
    letter-spacing: rem(2);
}