// ==========
// トップページ
// ==========
//メインビュー
@keyframes zoomUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
    animation: zoomUp 10s linear 0s 1 normal both;
}
.slide-img img {
    display: block;
}


// worksセクション
.swiper-container--works {
    position: relative;

    @include mq(tab) {
        display: block;
        max-width: rem(557);
        width: 100%;
    }
}

.swiper--works {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.swiper-slide--works img {
    height: auto;
    width: 100%;

    @include mq (tab)  {
        max-width: rem(557) !important;
    }
}

.swiper-pagination--works {
        bottom: rem(-22) !important;

    @include mq (tab){
        bottom: rem(48) !important;
        left: rem(-21) !important;
    }
}

.swiper-pagination-bullet {
    background: var(--swiper-pagination-bullet-inactive-color, $light-gray) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
    margin: 0 rem(6) !important;
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-bullet-inactive-color, $light-yellow) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}


// ==========
// 制作実績詳細
// ==========
.swiper-container--detail {
    position: relative;
    margin: 0 auto;
    width: 100%;

    @include mq(tab) {
        display: block;
    }
}

.swiper--detail {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.swiper-slide--detail img {
    height: auto;
    width: 100%;

    @include mq (tab)  {
        max-width: rem(557) !important;
    }
}

.swiper-pagination--detail {
    bottom: rem(-22) !important;

@include mq (tab){
    bottom: rem(-40) !important;
}
}