.p-sp-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $light-gray;
    width: 100%;
    height: 100vh;
    z-index: 555;
    transform: translateY(-100%);
    transition: ease 0.3s;

}

.p-sp-nav.open {
    transform: translateY(0);
}


.p-sp-nav__items {
    padding-top: rem(195);
    padding-bottom: rem(210);
    height: 100vh;
    overflow: scroll;
    z-index: 666;
    text-align: center;
}

.p-sp-nav__item {
    padding: rem(16) 0;
}