.p-test {
	margin: 30px;
	color: red;
	font-size: rem(20);
	// font-family: 'Noto Sans JP', sans-serif;
	font-family: 'Noto Sans JP', sans-serif;
	@include mq(tab){
	font-size: rem(50);
		color: green;
	}
	@include mq(pc) {
		color: blue;
	}
	@include mq(lg) {
		color: brown;
	}
}
