fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
	width: 100%;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 10px 0;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #111;
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-404 {
	margin-top: 8.125rem;
}

.l-breadcrumbs {
	margin-top: 1rem;
}

.l-detail-pagenavi {
	margin-top: 5.0625rem;
}

.l-detail {
	margin-top: 4.875rem;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-inner--detail {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-map {
	margin-top: 7.5rem;
}

.l-news {
	margin-top: 5.3125rem;
}

.l-pagenavi {
	margin-top: 5rem;
}

.l-recommend-article {
	margin-top: 7.5rem;
}

.l-sub-blog {
	margin-top: 1rem;
}

.l-sub-breadcrumbs {
	margin-top: 4.125rem;
}

.l-sub-contact {
	margin-top: 5.3125rem;
}

.l-sub-news {
	margin-top: 5.3125rem;
}

.l-sub-overview {
	margin-top: 6.4375rem;
}

.l-sub-works {
	margin-top: 5.3125rem;
}

.l-thanks {
	margin-top: 8.125rem;
}

.l-top-blog {
	margin: 6.125rem 0 0;
}

.l-top-contact {
	margin: 7.4375rem 0 0;
}

.l-top-content {
	margin: 9.4375rem 0 0;
}

.l-top-news {
	margin: 1.625rem 0 0;
}

.l-top-overview {
	margin-top: 7.5rem;
}

.l-top-works {
	margin-top: 7.5625rem;
}

.c-btn {
	background: #333;
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	padding: 0.5625rem 0;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.c-btn:hover {
	color: #333;
}

.c-btn--news {
	background: #333;
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	padding: 0.5625rem 0;
	text-align: center;
	width: 100%;
}

.c-category__list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
	padding: 0.4375rem 0;
}

.c-category__item-link {
	display: block;
	height: 100%;
	padding: 0.4375rem 0.5rem;
	text-transform: uppercase;
}

.c-category__item-link--white {
	background: #fff;
	color: #333;
	display: inline-block;
	height: inherit;
	padding: 0.4375rem 0.5rem;
}

.c-detail-pagenavi__inner {
	align-items: center;
	display: flex;
	justify-content: center;
}

.c-detail-pagenavi__link {
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
	margin: 0 1.5rem;
	padding: 0.1875rem 0.8125rem;
	text-transform: uppercase;
}

.c-hamburger {
	padding: 0;
	z-index: 999;
}

.c-hamburger span { /* 線幅の半分 */
	background: white;
	border-radius: 0.0625rem;
	display: block;
	height: 0.125rem;
	position: relative;
	transition: ease .3s;
	width: 1.625rem;
}

.c-hamburger span:nth-child(1) {
	top: 0;
}

.c-hamburger span:nth-child(2) {
	margin: 0.25rem 0;
}

.c-hamburger span:nth-child(1) {
	top: 0;
}

.c-hamburger.open span:nth-child(1) {
	top: 0.3125rem;
	transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
	opacity: 0;
}

.c-hamburger.open span:nth-child(3) {
	top: -0.4375rem;
	transform: rotate(-45deg);
}

.c-pagenavi {
	display: block;
}

.c-section-header {
	position: relative;
	text-align: center;
}

.c-section-header__title {
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.0625rem;
	line-height: 1.8125rem;
}

.c-section-header__subtitle {
	color: #F9F871;
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 3.125rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 4.5rem;
	margin-top: -4.9375rem;
	opacity: 0.2;
	text-transform: capitalize;
}

.p-404 {
	padding-bottom: 7.5rem;
}

.p-404__inner {
	text-align: center;
}

.p-404__title {
	color: #FFEA2E;
	font-size: 2.5rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 2.1875rem;
	opacity: 0.3;
}

.p-404__text {
	color: #fff;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
	margin-top: 5rem;
}

.p-404__btn {
	margin: 5rem auto 0;
	max-width: 20.9375rem;
	width: 100%;
}

.p-blog__inner {
	max-width: 23.4375rem;
	width: 100%;
}

.p-blog__items {
	margin-top: 4.4375rem;
}

.p-blog__btn {
	margin: 1.5rem auto 0;
	max-width: 20.9375rem;
}

.p-breadcrumbs {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.0625rem;
	line-height: 1.1875rem;
}

.p-breadcrumbs__list {
	display: flex;
}

.p-breadcrumbs__item:not(:first-child) {
	margin-left: 0.125rem;
}

.p-breadcrumbs__link {
	display: block;
	height: inherit;
}

.p-card {
	background: #fff;
	color: #3D3D3D;
	display: inline-block;
	position: relative;
	transition: .3s ease;
}

.p-card__img {
	padding-top: 66.567164%;
	position: relative;
}

.p-card__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-card__new-icon {
	align-items: center;
	background: #FFBA6A;
	border-radius: 50%;
	color: #333;
	display: flex;
	font-size: 1rem;
	font-weight: 400;
	height: 3.75rem;
	justify-content: center;
	left: -1rem;
	letter-spacing: 0.125rem;
	line-height: 60px;
	position: absolute;
	text-transform: capitalize;
	top: -1rem;
	width: 3.75rem; /*角丸*/
	z-index: 10;
}

.p-card__content {
	letter-spacing: 0.0625rem;
	padding: 0.25rem 1.4375rem 1rem;
}

.p-card__title {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 2.1875rem;
}

.p-card__text {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.625rem;
	margin-top: 0.125rem;
}

.p-card__info {
	align-items: center;
	display: flex;
	font-size: 0.875rem;
	font-weight: 400;
	justify-content: space-between;
	line-height: 1;
	line-height: 1.625rem;
	margin-top: auto;
	margin-top: 0.4375rem;
}

.p-card__category {
	background: #FFEA2E;
	color: #3D3D3D;
	letter-spacing: 0.0625rem;
	padding: 0 0.1875rem;
}

.p-card__date {
	letter-spacing: 0.0625rem;
}

.p-cards__item:nth-child(n + 2) {
	margin-top: 1.5rem;
}

.p-contact-button {
	max-width: 20.9375rem;
}

.p-contact-button__submit {
	-webkit-appearance: none;
	background-color: #fff;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
	margin: 0 0 1em;
	text-decoration: none;
	transition: .3s ease;
	width: 100%;
}

.p-contact-button__submit:hover,
.p-contact-button__submit:focus {
	background-color: #fff;
	border: 1px solid #fff;
	color: #333;
	outline: none;
	transition: .3s ease;
}

.p-contact-button__submit::-moz-foucus-inner {
	border: none;
	padding: 0;
}

.p-contact {
	background: #3D3D3D;
	padding: 4.1875rem 0 4rem;
}

.p-contact__body {
	margin-top: 1.8125rem;
}

.p-contact__text {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
}

.p-contact__btn {
	margin: 2.9375rem auto 0;
	max-width: 20.9375rem;
}

/* Contact Form7 */

.contact7 {
	box-sizing: border-box;
	width: 100%;
}

.contact7 dd {
	margin: 0 0 30px 0;
}

.contact7 dt {
	font-weight: normal;
}

/* 必須マーク */

.contact7 .must {
	background: #FF1A00;
}

/* 任意マーク */

.contact7 .optional {
	background: #999;
}

.contact7 .must,
.contact7 .optional {
	border-radius: 3px;
	color: #FFF;
	font-size: 10px;
	letter-spacing: 2px;
	margin-left: 10px;
	padding: 5px 10px;
}

.btn_contact7 {
	text-align: center;
}

.btn_contact7 input {
	background-color: #005513;
	border: 1px solid #005513;
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.2em;
	transition: 0.3s;
	width: 70%;
}

.btn_contact7 input:hover {
	background-color: #FFF;
	color: #005513;
}

.p-content {
	position: relative;
}

.p-content::before {
	background-image: linear-gradient(to right top, transparent 49.9%, #F9F871 50%, #F9F871 calc(50.1% + 1px), transparent calc(50.2% + 1px));
	content: "";
	height: 42.5rem;
	left: 0;
	position: absolute;
	top: -1.875rem;
	width: 100%;
	z-index: -1;
}

.p-content__items {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3.4375rem;
}

.p-content__item {
	position: relative;
	width: 50%;
}

.p-content__img {
	position: relative;
}

.p-content__img::before {
	content: "";
	display: block;
	padding-top: 89.361702%;
}

.p-content__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-content__imgtitle {
	font-size: 1.25rem;
	left: 50%;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-detail-swiper__img {
	position: relative;
}

.p-detail-swiper__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-detail-swiper__img::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-detail-works__img {
	margin-top: 2.5rem;
}

.p-detail-works__block:nth-child(1) {
	margin-top: 3.75rem;
}

.p-detail-works__block:nth-child(n + 2) {
	margin-top: 2rem;
}

.p-detail-works__title {
	background: #111;
	border: 1px solid #fff;
	border-radius: 2rem;
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.025rem;
	line-height: 1.8125rem;
	margin-left: 1.5rem;
	padding: 0.5rem 1.5rem;
}

.p-detail-works__description {
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.025rem;
	line-height: 2.1875rem;
	margin-top: -1.46875rem;
	padding: 1.875rem 0.625rem 1.875rem;
}

.p-detail__title {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.025rem;
	line-height: 2.1875rem;
}

.p-detail__info {
	display: flex;
}

.p-detail__info,
.p-detail__body {
	align-items: center;
	margin-top: 1rem;
}

.p-detail__swiper {
	margin-top: 1rem;
}

.p-detail__date {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.025rem;
	line-height: 2rem;
}

.p-detail__category {
	border: 0.0625rem solid #fff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
	margin-left: 1.5rem;
	padding: 0.5rem 1.25rem;
}

.p-detail__body {
	margin-top: 1rem;
}

.p-explain__block {
	align-items: center;
	border-bottom: 1px solid #fff;
	display: flex;
	font-size: 0.8125rem;
	font-weight: 400;
	padding: 0.875rem 0 1.1875rem 0.3125rem;
}

.p-explain__header {
	line-height: 1.3125rem;
	max-width: 4.375rem;
	width: 100%;
}

.p-explain__description {
	line-height: 1.5rem;
	margin-left: 3.5625rem;
	width: 100%;
}

.p-footer-nav {
	height: inherit;
}

.p-footer-nav__items {
	height: inherit;
}

.p-footer-nav__item {
	font-size: 1rem;
	height: inherit;
	letter-spacing: 0.075rem;
	line-height: 1.4375rem;
	padding: 0.25rem 0;
}

.p-footer-nav__item a {
	align-items: center;
	display: inline-block;
	display: flex;
	height: inherit;
	justify-content: center;
	padding: 0 1.0625rem;
	position: relative;
}

.p-footer {
	letter-spacing: 0.075rem;
	padding: 2.625rem 0;
}

.p-footer__pagetop {
	bottom: 2.5625rem;
	height: 2.8125rem;
	position: fixed;
	right: 1.25rem;
	width: 2.8125rem;
}

.p-footer__pagetop-link {
	background: #fff;
	display: inline-block;
	height: inherit;
	transition: .3s ease;
	width: inherit;
}

.p-footer__pagetop-link::after {
	border-radius: 1px 1px 1px 1px / 1px 1px 1px 1px;
	border-right: 0.125rem solid #333;
	border-top: 0.125rem solid #333;
	content: "";
	height: 1.1875rem;
	position: absolute;
	right: 0.8125rem;
	top: 1.1875rem;
	transform: rotate(-45deg);
	width: 1.1875rem;
}

.p-footer__inner {
	text-align: center;
}

.footer__link {
	display: inline-block;
}

.footer__link img {
	display: inline-block;
	line-height: 2rem;
	width: 4.375rem;
}

.p-footer__copy {
	font-size: 0.6875rem;
	letter-spacing: 0.075rem;
	line-height: 1rem;
	margin-top: 1.6875rem;
}

.p-header {
	background: rgba(17, 17, 17, 0.4);
	height: 3.125rem;
	left: 0;
	max-width: 100vw;
	position: fixed;
	right: 0;
	top: 0;
	transition: 0.3s ease;
	z-index: 777;
}

.black {
	background: #111111;
	transition: 0.3s ease;
}

.p-header__inner {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	padding: 0 1.3125rem 0 1.375rem;
}

.p-header__logo {
	height: inherit;
	z-index: 888;
}

.p-header__link {
	align-items: center;
	display: inline-block;
	display: flex;
	height: inherit;
}

.p-header__link img {
	width: 4.4375rem;
}

.p-main-visual {
	height: 100vh;
	position: relative;
}

.p-main-visual__text {
	font-weight: 700;
	left: 50%;
	letter-spacing: 0.03125rem;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 10;
}

.p-main-visual__title {
	font-size: 1.75rem;
	line-height: 1.75rem;
}

.p-main-visual__subtitle {
	font-size: 1.25rem;
	line-height: 1.25rem;
	margin-top: 1.5rem;
}

.p-map__iframe {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-map__iframe::after {
	content: "";
	display: block;
	padding-top: 80%;
}

.p-map__iframe iframe {
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-news__inner {
	justify-content: center;
}

.p-news__content:nth-child(n + 2) {
	margin-top: 2rem;
}

.p-news__date {
	font-size: 1rem;
	line-height: 1.4375rem;
}

.p-news__category {
	border: 0.0625rem solid #fff;
	font-size: 0.875rem;
	line-height: 1.25rem;
	margin-left: 1.8125rem;
	padding: 0.25rem 1.25rem;
}

.p-news__body {
	margin-top: 1.1875rem;
}

.p-news__link {
	font-size: 1rem;
	line-height: 1.4375rem;
}

.p-news__btn {
	margin: 1.625rem auto 0;
	max-width: 20.9375rem;
	width: 100%;
}

.p-overview {
	position: relative;
}

.p-overview::before {
	background-image: linear-gradient(to left top, transparent 49.9%, #F9F871 50%, #F9F871 calc(50.1% + 1px), transparent calc(50.2% + 1px));
	content: "";
	height: 87.4375rem;
	left: 0;
	position: absolute;
	top: -40rem;
	width: 100%;
	z-index: -1;
}

.p-overview__inner {
	width: 100%;
}

.p-overview__items {
	margin-top: 3.5rem;
}

.p-overview__img {
	position: relative;
}

.p-overview__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-overview__img::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-overview__body {
	background: #333;
	padding: 1.6875rem 1.25rem 1.3125rem;
}

.p-overview__title {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
	text-align: center;
}

.p-overview__text {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
	margin-top: 1.375rem;
}

.p-overview__btn {
	margin: 1.625rem auto 0;
	max-width: 20.9375rem;
}

.p-pc-nav {
	display: none;
	height: inherit;
}

.p-pc-nav__items {
	align-items: center;
	display: flex;
	height: inherit;
}

.p-pc-nav__item {
	height: inherit;
}

.p-pc-nav__item a {
	align-items: center;
	display: block;
	display: flex;
	font-size: 1rem;
	height: inherit;
	justify-content: center;
	letter-spacing: 0.06875rem;
	line-height: 2.1875rem;
	padding: 0 1.0625rem;
	position: relative;
	text-align: center;
	width: 100%;
}

.p-pc-nav__item a::after {
	background: transparent;
	bottom: 0.5rem;
	content: "";
	height: 0.0625rem;
	left: 1rem;
	position: absolute;
	right: 1rem;
	transition: ease .3s;
}

.p-pc-nav__item a:hover::after {
	background: #FFEA2E;
}

.p-pc-nav__item--white {
	margin-left: 0.75rem;
}

.p-pc-nav__item--white a {
	background: #fff;
	color: #333;
	padding: 0 2.125rem;
	transition: .3s ease;
}

.p-pc-nav__item--white a:hover {
	background: #333;
	color: #fff;
	transition: .3s ease;
}

.p-pc-nav__item--white a::after {
	display: none;
}

.p-post {
	color: #fff;
	display: inline-block;
	position: relative;
	transition: .3s ease;
	width: 100%;
}

.p-post__img {
	padding-top: 66.4%;
	position: relative;
}

.p-post__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-post__category {
	background: #111;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
	padding: 0.5rem 1.25rem;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.p-post__content {
	padding-top: 1.5rem;
	text-align: center;
}

.p-post__title {
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 0.125rem;
	line-height: 2.1875rem;
}

.p-posts__item:nth-child(n + 2) {
	margin-top: 3rem;
}

.p-recommend-article__title {
	background: #333;
	border: 0.0625rem solid #fff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
	padding: 0.625rem 0;
	text-align: center;
	width: 100%;
}

.p-recommend-article__contents {
	margin-top: 2rem;
}

.p-recommend-article__content:nth-child(n + 2) {
	margin-top: 1.5rem;
}

.p-result {
	color: #fff;
	display: inline-block;
	position: relative;
	transition: .3s ease;
	width: 100%;
}

.p-result__img {
	padding-top: 66.4%;
	position: relative;
}

.p-result__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-result__category {
	background: #111;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
	padding: 0.5rem 1.25rem;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.p-result__content {
	padding-top: 1.5rem;
	text-align: center;
}

.p-result__title {
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 0.125rem;
	line-height: 2.1875rem;
}

.p-results__item:nth-child(n + 2) {
	margin-top: 3rem;
}

.p-sp-nav {
	background: #111;
	height: 100vh;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateY(-100%);
	transition: ease 0.3s;
	width: 100%;
	z-index: 555;
}

.p-sp-nav.open {
	transform: translateY(0);
}

.p-sp-nav__items {
	height: 100vh;
	overflow: scroll;
	padding-bottom: 13.125rem;
	padding-top: 12.1875rem;
	text-align: center;
	z-index: 666;
}

.p-sp-nav__item {
	padding: 1rem 0;
}

.p-sub-blog__category {
	margin-top: 5.3125rem;
}

.p-sub-blog__items {
	margin-top: 2.5rem;
}

.p-sub-contact {
	padding-bottom: 7.5rem;
}

.p-sub-contact__content {
	width: 100%;
}

.p-sub-contact__content:nth-child(n + 2) {
	margin-top: 2rem;
}

.p-sub-contact__header {
	align-items: center;
	display: flex;
}

.p-sub-contact__title {
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.04375rem;
	line-height: 1;
}

.p-sub-contact__required {
	background: #FF5757;
	display: block;
	font-size: 0.625rem;
	font-weight: 400;
	line-height: 1;
	margin-left: 0.625rem;
	padding: 0.1875rem 0.3125rem;
}

.p-sub-contact__item {
	margin-top: 1rem;
}

.p-sub-contact__content--button {
	margin: 0 auto;
}

.p-contact-button__submit {
	background: #333;
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	padding: 0.5625rem 0;
	text-align: center;
	width: 100%;
}

.p-sub-content__inner {
	margin-top: 3rem;
	width: 100%;
}

.p-sub-content__headertitle {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
	text-align: center;
}

.p-sub-content__headertext {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
	margin-top: 1.5rem;
}

.p-sub-content__items {
	margin-top: 5rem;
}

.p-sub-content__item:nth-child(1) {
	margin-top: 0;
}

.p-sub-content__item:nth-child(n + 2) {
	margin-top: 3rem;
}

.p-sub-content__item:nth-child(even) {
	flex-direction: row-reverse;
}

.p-sub-content__img {
	position: relative;
}

.p-sub-content__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-sub-content__img::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-sub-content__body {
	padding: 1.5rem 1.25rem 0;
}

.p-sub-content__title {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
	text-align: center;
}

.p-sub-content__text {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
	margin-top: 1.5rem;
}

.p-sub-visual__inner {
	position: relative;
}

.p-sub-visual__text {
	font-weight: 700;
	left: 50%;
	letter-spacing: 0.03125rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.p-sub-visual__title {
	font-size: 1.875rem;
	font-weight: bold;
	line-height: 2.715rem;
}

.p-sub-works__items {
	margin-top: 1.25rem;
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
	-webkit-animation: zoomUp 10s linear 0s 1 normal both;
	animation: zoomUp 10s linear 0s 1 normal both;
}

.slide-img img {
	display: block;
}

.swiper-container--works {
	position: relative;
}

.swiper--works {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100%;
}

.swiper-slide--works img {
	height: auto;
	width: 100%;
}

.swiper-pagination--works {
	bottom: -1.375rem !important;
}

.swiper-pagination-bullet {
	background: var(--swiper-pagination-bullet-inactive-color, #C4C4C4) !important;
	margin: 0 0.375rem !important;
	opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.swiper-pagination-bullet-active {
	background: var(--swiper-pagination-bullet-inactive-color, #F9F871) !important;
	opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.swiper-container--detail {
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.swiper--detail {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100%;
}

.swiper-slide--detail img {
	height: auto;
	width: 100%;
}

.swiper-pagination--detail {
	bottom: -1.375rem !important;
}

.p-thanks {
	padding-bottom: 7.5rem;
}

.p-thanks__inner {
	text-align: center;
}

.p-thanks__title,
.p-thanks__text {
	color: #fff;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
	margin-top: 5rem;
}

.p-thanks__btn {
	margin: 5rem auto 0;
	max-width: 20.9375rem;
	width: 100%;
}

.p-works__inner {
	width: 100%;
}

.p-works__item {
	margin-top: 3.4375rem;
}

.p-works__block {
	position: relative;
}

.p-works__img {
	position: relative;
}

.p-works__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-works__img::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-works__body {
	background: #333;
	padding: 1.6875rem 1.25rem 1.3125rem;
	position: relative;
	text-align: center;
}

.p-works__title {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.8125rem;
}

.p-works__text {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.4375rem;
	margin-top: 1.375rem;
}

.p-works__btn {
	margin: 1.625rem auto 0;
	max-width: 20.9375rem;
}

/*wp-pagenavi 05*/

.wp-pagenavi {
	clear: both;
	text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
	background-color: #111;
	border: 1px solid #fff;
	color: #fff;
	margin: 0 0.5rem;
	padding: 0.3125rem 0.625rem;
	text-align: center;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	white-space: nowrap;
}

.wp-pagenavi a:hover {
	background-color: #fff;
	border-color: #fff;
	color: #111;
	opacity: 0.8;
}

.wp-pagenavi span.current {
	background-color: #fff;
	border-color: #fff;
	color: #111;
	font-weight: 700;
}

.wp-pagenavi a.previouspostslink {
	margin-right: 1.25rem;
}

.wp-pagenavi a.nextpostslink {
	margin-left: 1.25rem;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.45455vw;
}

.l-404 {
	margin-top: 12.5rem;
}

.l-detail-pagenavi {
	margin-top: 6.5rem;
}

.l-detail {
	margin-top: 5.6875rem;
}

.l-inner {
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.l-inner--detail {
	max-width: 818px;
	padding-left: 25px;
	padding-right: 25px;
}

.l-map {
	margin-top: 5rem;
}

.l-news {
	margin-top: 4.375rem;
}

.l-pagenavi {
	margin-top: 6.5rem;
}

.l-recommend-article {
	margin-top: 6.5rem;
}

.l-sub-contact {
	margin-top: 7.1875rem;
}

.l-sub-news {
	margin-top: 4.3125rem;
}

.l-sub-overview {
	margin-top: 9.125rem;
}

.l-sub-works {
	margin-top: 7.1875rem;
}

.l-thanks {
	margin-top: 12.5rem;
}

.l-top-blog {
	margin: 13.5625rem 0 0;
}

.l-top-contact {
	margin: 9.375rem 0 0;
}

.l-top-content {
	margin: 12.3125rem 0 0;
}

.l-top-news {
	margin: 1.9375rem 0 0;
}

.l-top-overview {
	margin-top: 13rem;
}

.l-top-works {
	margin-top: 12.8125rem;
}

.c-btn {
	font-size: 1rem;
	overflow: hidden;
	padding: 1.0625rem 0;
	position: relative;
}

.c-btn::before {
	background: #fff;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(-100%);
	transition: .3s ease;
	z-index: -1;
}

.c-btn:hover::before {
	transform: translateX(0);
	transition: .3s ease;
}

.c-btn--news {
	background: #fff;
	color: #333;
	font-size: 1rem;
	letter-spacing: normal;
	padding: 0.1875rem 1.5625rem;
}

.c-btn--news:hover {
	color: #fff;
}

.c-btn--news::before {
	background: #333;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(-100%);
	transition: .3s ease;
	z-index: 10;
}

.c-btn--news:hover::before {
	transform: translateX(0);
	transition: .3s ease;
	z-index: 10;
}

.c-category__list {
	padding: 0;
}

.c-category__item:nth-child(n + 2) {
	margin-left: 1.9375rem;
}

.c-category__item-link {
	padding: 0.1875rem 0.5rem;
}

.c-category__item-link--white {
	padding: 0.1875rem 0.5rem;
}

.c-hamburger {
	display: none;
}

.c-section-header {
	width: inherit;
}

.c-section-header__title {
	font-size: 1.875rem;
}

.c-section-header__subtitle {
	font-size: 6.875rem;
}

.c-section-header__subtitle--left {
	bottom: -2.5625rem;
	left: 0;
	position: absolute;
}

.c-section-header__subtitle--right {
	bottom: -1.875rem;
	position: absolute;
	right: 0;
}

.c-section-header__subtitle--contact {
	left: 0;
	position: absolute;
}

.p-404 {
	padding-bottom: 9.375rem;
}

.p-404__title {
	font-size: 3.75rem;
}

.p-404__text {
	font-size: 1.875rem;
	line-height: 2.1875rem;
}

.p-404__btn {
	max-width: 22.5rem;
}

.p-blog__inner {
	max-width: 68.75rem;
}

.p-blog__header {
	position: relative;
}

.p-blog__header-title {
	bottom: 0.25rem;
	position: absolute;
	right: 0;
}

.p-blog__items {
	margin-top: 2.75rem;
}

.p-blog__btn {
	margin: 2.75rem auto 0;
	max-width: 22.5rem;
	overflow: hidden;
	position: relative;
}

.p-breadcrumbs {
	letter-spacing: 0.125rem;
}

.p-card:hover {
	background: #333;
	color: #fff;
	transition: .3s ease;
}

.p-card__new-icon {
	left: -0.875rem;
	top: -1.25rem;
}

.p-card__content {
	padding: 0.25rem 1.4375rem 1.0625rem;
}

.p-card__text {
	margin-top: 0.375rem;
}

.p-card__info {
	margin-top: 0.5rem;
}

.p-card__category {
	padding: 0 0.375rem;
}

.p-cards {
	-ms-grid-columns: (1fr)[3];
	gap: 1.5625rem;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 68.75rem;
	width: 100%;
}

.p-cards__item:nth-child(n + 2) {
	margin-left: 1.1875rem;
}

.p-cards__item:nth-child(2) {
	margin-top: 0;
}

.p-cards__item:nth-child(3) {
	margin-top: 0;
}

.p-cards__item:nth-child(3n + 1) {
	margin-left: 0;
}

.p-cards__item:nth-child(n + 4) {
	margin-top: 3rem;
}

.p-contact-button {
	max-width: 22.5rem;
}

.p-contact {
	padding: 9.4375rem 0 9.3125rem;
}

.p-contact__header-title {
	text-align: left;
}

.p-contact__inner {
	margin: 0 auto;
	width: 100%;
}

.p-contact__body {
	margin: 1.6875rem auto 0;
	width: 100%;
}

.p-contact__text {
	text-align: center;
}

.p-contact__btn {
	margin: 3.8125rem auto 0;
	max-width: 22.5rem;
}

.contact7 {
	margin: 0 auto;
	max-width: 50rem;
}

.btn_contact7 {
	margin: 0 auto;
	max-width: 50rem;
}

.contact7 dt {
	clear: left;
	float: left;
	padding: 5px 10px 5px 0;
	width: 35%;
}

.contact7 dd {
	margin-left: 35%;
}

.btn_contact7 input {
	background-color: #005513;
	border: 1px solid #005513;
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.2em;
	transition: 0.3s;
	width: 70%;
}

.btn_contact7 input:hover {
	background-color: #FFF;
	color: #005513;
}

.p-content::before {
	height: 75.75rem;
	top: -6.8125rem;
	width: 94.6875%;
}

.p-content__header {
	margin: 0 auto;
	max-width: 68.75rem;
	width: 100%;
}

.p-content__items {
	margin-top: 3.25rem;
}

.p-content__item {
	width: 25%;
}

.p-content__item::before {
	background: #fff;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .3s ease;
	z-index: 10;
}

.p-content__item:hover:before {
	opacity: 0.6;
	transition: .3s ease;
}

.p-content__img::before {
	padding-top: 100%;
}

.p-content__imgtitle {
	font-size: 1.5625rem;
}

p-
.p-detail-swiper__imgs {
	max-width: 34.8125rem;
	width: 100%;
}

.p-detail-swiper__img {
	max-width: 34.8125rem;
	width: 100%;
}

.p-detail-swiper__img::before {
	padding-top: 69.83842%;
}

.p-detail-works__img {
	margin-top: 5rem;
}

.p-detail-works__block:nth-child(1) {
	margin-top: 5rem;
}

.p-detail-works__block:nth-child(n + 2) {
	margin-top: 3rem;
}

.p-detail-works__description {
	padding: 3.5rem 0.625rem 2.0625rem;
}

.p-detail__title {
	font-size: 1.4375rem;
	font-weight: 500;
}

.p-detail__info,
.p-detail__body {
	margin-top: 2rem;
}

.p-detail__swiper {
	margin-top: 2rem;
}

.p-detail__body {
	margin-top: 2rem;
}

.p-footer-nav__items {
	display: flex;
}

.p-footer-nav__item a::after {
	background: transparent;
	bottom: 0;
	content: "";
	height: 0.0625rem;
	left: 1rem;
	position: absolute;
	right: 1rem;
	transition: ease .3s;
}

.p-footer-nav__item a:hover::after {
	background: #FFEA2E;
}

.p-footer {
	padding: 1.875rem 0;
}

.p-footer__pagetop {
	bottom: 2.0625rem;
	right: 1.9375rem;
}

.p-footer__pagetop-link:hover {
	background: #333;
	transition: .3s ease;
}

.p-footer__pagetop-link:hover:after {
	border-right: 0.125rem solid #fff;
	border-top: 0.125rem solid #fff;
}

.p-footer__content {
	align-items: center;
	display: flex;
	height: 2.4375rem;
	justify-content: space-between;
}

.p-footer__inner {
	align-items: center;
	display: block;
	justify-content: space-between;
	margin: 0 2rem;
}

.p-footer__logo {
	height: 2.5rem;
}

.p-footer__copy {
	font-size: 0.9375rem;
	line-height: 2.1875rem;
	margin-top: 4rem;
	text-align: center;
}

.p-header__inner {
	padding-left: 2.0625rem;
	padding-right: 0;
}

.p-header__link img {
	width: 5.875rem;
}

.p-main-visual {
	height: 100%;
}

.p-main-visual__title {
	font-size: 3.125rem;
	font-weight: 700;
	line-height: 3.125rem;
}

.p-main-visual__subtitle {
	font-size: 1.5625rem;
	font-weight: 700;
	line-height: 1.5625rem;
}

.p-map__iframe::after {
	padding-top: 33.363636%;
}

.p-news__inner {
	display: flex;
}

.p-news__contents {
	max-width: 53.75rem;
	width: 100%;
}

.p-news__content {
	display: flex;
	max-width: 55rem;
	width: 100%;
}

.p-news__date {
	display: inline-block;
	max-width: 5.75rem;
}

.p-news__category {
	display: inline-block;
	margin-left: 2.625rem;
	padding: 0.3125rem 1.3125rem;
}

.p-news__body {
	margin-left: 3.8125rem;
	margin-top: 0;
	max-width: 35.75rem;
	padding-top: 0.3125rem;
}

.p-news__link:hover {
	text-decoration: underline;
	transition: ease .3s;
}

.p-news__btn {
	margin: 0 0 0 auto;
	max-width: 8.375rem;
	overflow: hidden;
	position: relative;
}

.p-overview::before {
	height: 75.75rem;
	top: -12.8125rem;
	width: 94.6875%;
}

.p-overview__inner {
	margin: 0 auto;
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.p-overview__items {
	margin-top: 2.5625rem;
}

.p-overview__item {
	align-items: center;
	background: linear-gradient(90deg, #333 0%, #333 75%, transparent 75%, transparent 100%);
	display: flex;
	flex-direction: row-reverse;
	margin-left: calc(50% - 50vw);
}

.p-overview__img {
	max-width: 34.8125rem;
	width: 100%;
}

.p-overview__img::before {
	padding-top: 69.83842%;
}

.p-overview__body {
	background: transparent;
	max-width: 35.4375rem;
	padding: 7.5rem 2.0625rem 7.4375rem 1.5625rem;
	text-align: left;
	width: 100%;
}

.p-overview__title {
	font-size: 1.5625rem;
	letter-spacing: 0.03125rem;
	line-height: 1rem;
}

.p-overview__text {
	letter-spacing: 0.03125rem;
	line-height: 2.1875rem;
	margin-top: 3rem;
}

.p-overview__btn {
	margin: 2.9375rem auto 0 0;
	max-width: 22.5rem;
	overflow: hidden;
	position: relative;
}

.p-pc-nav {
	display: initial;
}

.p-post {
	max-width: calc(50% - rem(25) * 2 / 2);
}

.p-post:hover {
	background: #333;
	color: #fff;
	transition: .3s ease;
}

.p-post__content {
	padding-top: 0.75rem;
}

.p-posts {
	display: flex;
	max-width: 68.75rem;
	width: 100%;
}

.p-posts__item:nth-child(even) {
	margin-left: 48;
}

.p-posts__item:nth-child(n + 3) {
	margin-top: 7.125rem;
}

.p-recommend-article__title {
	display: block;
	max-width: 68.75rem;
	padding: 0.5rem 0;
	width: 100%;
}

.p-recommend-article__contents {
	margin-top: 5rem;
}

.p-recommend-article__content:nth-child(n + 2) {
	margin-top: 0;
}

.p-recommend-article__content:nth-child(n + 2) {
	margin-left: 2rem;
}

.p-result:hover {
	background: #333;
	color: #fff;
	transition: .3s ease;
}

.p-result__content {
	padding-top: 0.75rem;
}

.p-results {
	-ms-grid-columns: (1fr)[2];
	gap: 3rem;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 68.75rem;
	width: 100%;
}

.p-results__item:nth-child(n + 2) {
	margin-top: 0;
}

.p-results__item:nth-child(even) {
	margin-left: 3rem;
}

.p-results__item:nth-child(n + 3) {
	margin-top: 7.125rem;
}

.p-sub-blog__category {
	margin-top: 7.1875rem;
}

.p-sub-contact {
	padding-bottom: 9.375rem;
}

.p-sub-contact__contents {
	margin: 0 auto;
	max-width: 33.75rem;
	width: 100%;
}

.p-sub-contact__content:nth-child(n + 2) {
	margin-top: 2.8125rem;
}

.p-sub-contact__header {
	max-width: 10rem;
	width: 100%;
}

.p-sub-contact__item {
	width: 100%;
}

.p-sub-content__inner {
	margin: 0 auto;
	margin-top: 6.5rem;
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.p-sub-content__header {
	background: transparent;
	margin: 0 auto;
	max-width: 35.4375rem;
	text-align: left;
	width: 100%;
}

.p-sub-content__headertitle {
	font-size: 1.5625rem;
	letter-spacing: 0.03125rem;
	line-height: 1rem;
}

.p-sub-content__headertext {
	letter-spacing: 0.03125rem;
	line-height: 2.1875rem;
}

.p-sub-content__items {
	margin-top: 9.375rem;
}

.p-sub-content__item {
	align-items: center;
	display: flex;
}

.p-sub-content__item:nth-child(n + 2) {
	margin-top: 6.5rem;
}

.p-sub-content__img {
	max-width: 34.8125rem;
	width: 100%;
}

.p-sub-content__img::before {
	padding-top: 69.83842%;
}

.p-sub-content__body {
	background: transparent;
	margin: 0 0 auto 0;
	max-width: 35.4375rem;
	padding: 1.25rem 2.0625rem 1.25rem 1.5625rem;
	text-align: left;
	width: 100%;
}

.p-sub-content__title {
	font-size: 1.5625rem;
	letter-spacing: 0.03125rem;
	line-height: 1rem;
	text-align: left;
}

.p-sub-content__text {
	letter-spacing: 0.03125rem;
	line-height: 2.1875rem;
	margin-top: 2.5rem;
}

.p-sub-visual__title {
	font-size: 2.1875rem;
	line-height: 2.1875rem;
}

.p-sub-works__items {
	margin-top: 2.5rem;
}

.swiper-container--works {
	display: block;
	max-width: 34.8125rem;
	width: 100%;
}

.swiper-slide--works img {
	max-width: 34.8125rem !important;
}

.swiper-pagination--works {
	bottom: 3rem !important;
	left: -1.3125rem !important;
}

.swiper-container--detail {
	display: block;
}

.swiper-slide--detail img {
	max-width: 34.8125rem !important;
}

.swiper-pagination--detail {
	bottom: -2.5rem !important;
}

.p-thanks {
	padding-bottom: 9.375rem;
}

.p-thanks__title,
.p-thanks__text {
	font-size: 1.875rem;
	line-height: 2.1875rem;
}

.p-thanks__btn {
	max-width: 22.5rem;
}

.p-works__header {
	position: relative;
}

.p-works__inner {
	margin: 0 auto;
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.p-works__item {
	background: linear-gradient(90deg, transparent 0%, transparent 25%, #333 25%, #333 100%);
	display: flex;
	margin-right: calc(50% - 50vw);
	margin-top: 2.625rem;
}

.p-works__content {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

p-
.p-works__imgs {
	max-width: 34.8125rem;
	width: 100%;
}

.p-works__img {
	max-width: 34.8125rem;
	width: 100%;
}

.p-works__img::before {
	padding-top: 69.83842%;
}

.p-works__body {
	background: transparent;
	max-width: 35.4375rem;
	padding: 7.5rem 1.5625rem 7.3125rem 2.0625rem;
	text-align: left;
	width: 100%;
}

.p-works__title {
	font-size: 1.5625rem;
	letter-spacing: 0.03125rem;
	line-height: 1rem;
}

.p-works__text {
	letter-spacing: 0.03125rem;
	line-height: 2.1875rem;
	margin-top: 3rem;
}

.p-works__btn {
	margin: 3rem auto 0 0;
	max-width: 22.5rem;
}

}

@media (min-width: 1100px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1100px) {

.u-hidden-pc {
	display: none;
}

}

@-webkit-keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

@keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

