
////////////////////
// 色の指定
////////////////////
// 色
$background: #111; // 背景
$text-color: #fff; // テキスト色
$black: #111;
$white: #fff;
$mid-gray: #333;
$gray: #3D3D3D;
$light-gray: #C4C4C4;
$yellow: #FFEA2E;
$light-yellow: #F9F871;
$orange: #FFBA6A;
$red: #FF5757;

// マウスホバー
$opacity: 0.7; // 透過度

////////////////////
// フォント設定
////////////////////

// フォント
$font-family-base: 'Noto Sans JP', sans-serif;// ベースフォント
$font-family-second: 'Noto Serif JP', serif;// セカンドフォント
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.6; // ベース行間

// フォントウェイト
$regular: 300;
$font-weight-base: 400; // ベースフォントウェイト
$medium: 500;
$bold: 700;

////////////////////
// レイアウト
////////////////////
$l-tab: 768px; // タブレットサイズ
$l-inner: 1100px; // インナー幅
$l-pc: 1280px; // パソコン幅

// 余白
$padding-pc: 25px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白

////////////////////
// ブレークポイントの設定
////////////////////
// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",

);