
.c-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    padding: rem(9) 0;
    text-align: center;
    border: 1px solid $white;
	// color: $white;

    font-size: rem(20);
    letter-spacing: rem(2);
    // background: $mid-gray;
    // z-index: 1;

    @include mq(pc) {
		padding: rem(17) 0;
        font-size: rem(16);
    }

	span {
        @include mq(pc) {
            color: $white;
            z-index: 10;
		}
	}
}

.c-btn:hover {
	span {
        @include mq(pc) {
			// color: $mid-gray;
            color: red;
            z-index: 10;
		}
	}
}

.c-btn::before {
    @include mq(pc){
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $white;
        transform: translateX(-100%);
        transition: .3s ease;
        z-index: 1;
    }
}

.c-btn:hover::before {

    @include mq(pc){
        transform: translateX(0);
        transition: .3s ease;
        z-index: 1;
    }
}

.c-btn--news {
	display: inline-block;
    width: 100%;
    padding: rem(9) 0;
    text-align: center;
    border: 1px solid $white;
    font-size: rem(20);
    letter-spacing: rem(2);
    color: $white;
    background: $mid-gray;

    @include mq(pc){
        // max-width: rem(134);
        padding: rem(3) rem(25);
        font-size: rem(16);
        letter-spacing: normal;
        color: $mid-gray;
        background: $white;
        // z-index: 1;

    }
}

.c-btn--news:hover {
    @include mq(pc){
        color: $white;
    }
}

.c-btn--news::before {

    @include mq(pc){
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $mid-gray;
        transform: translateX(-100%);
        transition: .3s ease;
        z-index: 10;
    }
}

.c-btn--news:hover::before {

    @include mq(pc){
        transform: translateX(0);
        transition: .3s ease;
        z-index: 10;
    }
}