
.c-category {
    // margin-top: rem(85);

    @include mq (tab) {
        // margin-top: rem(116);
    }
}

.c-category__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-style: normal;
    font-size: rem(16);
    font-weight: $font-weight-base;
    line-height: rem(23);
    letter-spacing: rem(2);
    padding: rem(7) 0;
    @include mq (tab) {
        padding: 0;
    }
}

.c-category__item {

}

.c-category__item:nth-child(n + 2) {
    margin-left: rem(10);

    @include mq (tab) {
        margin-left: rem(31);
    }
}

.c-category__item-link {
    display: block;
    height: 100%;
    padding: rem(7) rem(8);
    text-transform: uppercase;

    @include mq (tab) {
        padding: rem(3) rem(8);
    }
}

.c-category__item-link--active {
    background: $light-gray;
    color: $mid-gray;
    padding: rem(7) rem(8);
    display: inline-block;
    height: inherit;

    @include mq (tab) {
        padding: rem(3) rem(8);
    }
}