.c-detail-pagenavi {

}

.c-detail-pagenavi__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-detail-pagenavi__link {
    text-transform: uppercase;
    border: 1px solid $white;
    padding: rem(3) rem(13);
    margin: 0 rem(24);

    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: rem(23);
    letter-spacing: rem(2);

    @include mq(tab){
    }
}
