/*wp-pagenavi 05*/
.wp-pagenavi {
	clear: both;
	text-align:center;

}
.wp-pagenavi a, .wp-pagenavi span {
	color: $white;
	background-color: $black;
	border: 1px solid $white;
	padding: rem(5) rem(10);
	margin: 0 rem(8);
	white-space: nowrap;
	// -moz-border-radius: 3px;
	// -webkit-border-radius: 3px;
	// border-radius: 3px;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
}

.wp-pagenavi a:hover{
	color: $black;
	background-color: $white;
    opacity: 0.8;
	border-color: $white;
    }

.wp-pagenavi span.current{
	color: $black;
	background-color: $white;
	border-color: $white;
	font-weight: $bold;
    }

.wp-pagenavi a.previouspostslink {
    margin-right: rem(20);
}

.wp-pagenavi a.nextpostslink {
    margin-left: rem(20);
}